body {
    padding: 0 20px;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: black;
}

p {
    margin: 0; 
    margin-block-start: 0;
    margin-block-end: 0;
}

button {
    cursor: pointer;
    border: none;
    font-family: 'Montserrat';
    font-size: 16px;
    background-color: transparent;
    padding: 0;
}

a {
    text-decoration: none;
}