.buy-button {
    height: 40px;
    padding: 10px 24px;
    background: #434343;
    border-radius: 100px;
    color: white;
    font-weight: 500;
    line-height: 20px;
    margin-left: 16px;
}

.navigation-link {
    color: #3F3E3E;
    font-weight: 500;
    line-height: 20px;

}