.specifications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 90px;
}

.specifications-title-text {
    font-weight: 800;
    font-size: 64px;
    line-height: 82px;
    margin: 0 896px 44px 61px;
}

.specifications-title-color {
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    margin: 44px 1270px 0 60px;
}

.specifications-photo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.spec-photo {
    /* position: absolute; */
}

.specifications-buttons {
    display: flex;
    flex-wrap: nowrap;
    align-self: center;
}

.spec-btn {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin: 8px;
    border: 1px solid;
    border-color: transparent;
    /* border-color: 1px solid #7C7C7C; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.initial-spec-btn {
    border: 1px solid red;
}

.spec-photo-2, .spec-photo-3 {
    display: none;
}

.btn-black {
    background-color: black;
    width: 40px;
    height: 40px;
    margin: 0;
    border-radius: 50%;
    
}

.btn-grey {
    background-color: #B2AB9D;
    width: 40px;
    height: 40px;
    margin: 0;
    border-radius: 50%;
}

.btn-blue {
    background-color: #15517B;
    width: 40px;
    height: 40px;
    margin: 0;
    border-radius: 50%;
}
